@charset "UTF-8";


/* Trabalhando na seção principal */
main{
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
}

h1, h2{
    color: var(--text-title);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.808);
    margin-bottom: 10px;
}

main h1{
    font-size: 40px;
} 

p{
    color: var(--text-main);
    font-size: 25px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.808);
}

hr {
  border: none;
  height: 5px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-hover),
    transparent
 );
}

.bt-azul{
    background-color: var(--primary);
    color: var(--bg-main);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.bt-azul:hover{
    box-shadow: inset 0 0 20px var(--bg-main);
    transition: all 0.3s ease;
}

.bt-escuro{
    background-color: var(--bg-main);
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

.bt-escuro:hover{
    box-shadow: inset 0 0 20px var(--primary);
    transition: all 0.3s ease;

}

.head-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    width: 500px;
    margin-top: -80px;
    margin-left: 100px;
}

.titulo h1 b{
    color: var(--primary);
    font-weight: bold;
}

.titulo h2{
    color: var(--primary);
    font-weight: bold;
}

.head-main img{
    width: 300px;
    margin-top: -61px;
    margin-right: -35px;
}

@media (max-width: 768px) {

    main{
        margin: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.342);
    }

    main h1{
        margin-bottom: 20px;
    }

    .titulo{
        width: 500px;
        margin-top: 0px;
        margin-left: 2px;
    }
    
    .head-main{
        width: 100%;
    }

    .head-main img{
        display: none;
    }

}