@charset "UTF-8";

:root {
  --bg-main: #080d18;
  --bg-card: #0b121f;
  --border-soft: #162A45;

  --primary: #00C2FF;
  --primary-hover: #1AD1FF;

  --text-title: #FFFFFF;
  --text-main: #D0D6E0;
  --text-muted: #8A94A6;

  --glow: rgba(0, 194, 255, 0.3);
}

body{
    width: 100%;
    background-image: linear-gradient(to bottom,#0b1c2d 0%,#0e253f 40%,#0a1624 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

main h1{
    font-size: 40px;
    text-align: center;
}

/* Parte do section */
section{
    margin-top: 50px;
    text-align: center;
}

section h2{
    font-size: 30px;
}

section p{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    color: var(--text-muted);
}

/* Cards do Peview do projeto */
.project-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.project-card{
    background-color: var(--bg-card);
    border: 3px solid var(--border-soft);
    border-radius: 5px;
    box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.project-card:nth-child(even){
    flex-direction: row-reverse;
}

.preview{
    border: 2px solid var(--border-soft);
    box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
    border-radius: 5px;
}

.preview img{
    width: 500px;
    height: auto;
    display: block;
}

/* Botões e titulo no preview do projeto */
.icons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;   /* ← isso impede vazar */
    gap: 8px;
}

.icons span{
    margin-right: 10px;
    margin-top: 10px;
    color: var(--text-muted);
    border: 2px solid var(--border-soft);
    background-image: linear-gradient(to bottom,#0b1c2d 0%,#0e253f 40%,#0a1624 100%);
    border-radius: 5px;
    padding: 2px 5px;
}

.text-container{
    justify-content: center;
}

.text-container button{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    margin: 12px auto;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: auto;   
}

.text-container a{
    color: var(--bg-main);
    text-decoration: none;  
}

.text-container button:hover{
    box-shadow: inset 0 0 20px var(--bg-main);
    transition: all 0.3s ease;
}

@media (max-width: 768px){
    .project-card{
        flex-direction: column;
        text-align: center;
        width: 295px;
    }

    .preview img{
        width: 250px;
    }

    .project-card:nth-child(even){
        flex-direction: column;
    }

    .icons{
        width: 260px;
    }

    .text-container{
        width: 250px;

    }
}