@charset "UTF-8";

:root {
  --bg-main: #080d18;
  --bg-card: #0b121f;
  --border-soft: #162A45;

  --primary: #00C2FF;
  --primary-hover: #1AD1FF;

  --text-title: #FFFFFF;
  --text-main: #D0D6E0;
  --text-muted: #8A94A6;

  --glow: rgba(0, 194, 255, 0.3);
}

/* Fonte do Site */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 1s ease; */

}

* a{
    text-decoration: none;
    color: inherit;
}

body{
    width: 100%;
    background-image: linear-gradient(to bottom,#0b1c2d 0%,#0e253f 40%,#0a1624 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Loader Styles */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Trabalhando no Header */
header{
  display: flex;
  background-color: var(--bg-card);
  margin: 10px auto; 
  border: 3px solid var(--border-soft);
  height: 60px;
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
}

header a{
  color: white;
  text-decoration: none;
}

nav{
  cursor: pointer;
  margin: auto;
}

nav a{
  font-size: 20px;
  margin: 7px auto 0 50px;
  font-weight: bolder;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  transform-origin: center center;
  will-change: transform;
}

nav a:hover{
  color: var(--primary-hover);
  transform: scale(1.2);
  text-decoration: underline;
  text-underline-offset: 4px;
}

header img{
  display: inline-block;
  height: 40px;
  margin: 10px 0 0 20px;
}

#angle-right{
  margin-right: 20px;
  transform: rotate(180deg);
}

/* Trabalhando no main */
main{
  max-width: 90%;
  margin: 30px auto;
  padding: 20px;
}

h1, h2{
  color: var(--text-title);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.808);
  margin-bottom: 10px;
}

main h1{
  font-size: 40px;
} 

p{
  color: var(--text-main);
  font-size: 25px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.808);
}

hr {
border: none;
height: 5px;
background: linear-gradient(
  to right,
  transparent,
  var(--primary-hover),
  transparent
);
}

.bt-azul{
  background-color: var(--primary);
  color: var(--bg-main);
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bt-azul:hover{
  box-shadow: inset 0 0 20px var(--bg-main);
  transition: all 0.3s ease;
}

.bt-escuro{
  background-color: var(--bg-main);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 5px;
}

.bt-escuro:hover{
  box-shadow: inset 0 0 20px var(--primary);
  transition: all 0.3s ease;

}

.head-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo{
  width: 500px;
  margin-top: -80px;
  margin-left: 100px;
}

.titulo h1 b{
  color: var(--primary);
  font-weight: bold;
}

.titulo h2{
  color: var(--primary);
  font-weight: bold;
}

.head-main img{
  width: 300px;
  margin-top: -61px;
  margin-right: -35px;
}

/* Parte do section */
section{
  margin-top: 50px;
  text-align: center;
}

section h2{
  font-size: 30px;
}


/* Cards do Peview do projeto */
.project-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.project-card{
  background-color: var(--bg-card);
  border: 3px solid var(--border-soft);
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.project-card img{
  width: 300px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

/* Botões e titulo no preview do projeto */

.project-content{
  width: 290px;
  text-align: center;
}

.project-buttom{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  margin: 12px auto;
  cursor: pointer;
}

.project-buttom a{
  color: var(--bg-main);
  text-decoration: none;  
}

.project-buttom:hover{
  position: relative;
  box-shadow: inset 0 0 20px var(--bg-main);
  transition: all 0.3s ease;
  top: -5px;
}

/* Pg projetos */
main h1{
  font-size: 40px;
  text-align: center;
}

/* Parte do section */
section{
  margin-top: 50px;
  text-align: center;
}

section h2{
  font-size: 30px;
}

section p{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  color: var(--text-muted);
}

/* Cards do Peview do projeto */
.project-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.project-card{
  background-color: var(--bg-card);
  border: 3px solid var(--border-soft);
  border-radius: 5px;
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.project-card:nth-child(even){
  flex-direction: row-reverse;
}

.preview{
  border: 2px solid var(--border-soft);
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
  border-radius: 5px;
}

.preview img{
  width: 500px;
  height: auto;
  display: block;
}

/* Botões e titulo no preview do projeto */
.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;   /* ← isso impede vazar */
  gap: 8px;
}

.icons span{
  margin-right: 10px;
  margin-top: 10px;
  color: var(--text-muted);
  border: 2px solid var(--border-soft);
  background-image: linear-gradient(to bottom,#0b1c2d 0%,#0e253f 40%,#0a1624 100%);
  border-radius: 5px;
  padding: 2px 5px;
}

.text-container{
  justify-content: center;
}

.text-container button{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  margin: 12px auto;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: auto;   
}

.text-container a{
  color: var(--bg-main);
  text-decoration: none;  
}

.text-container button:hover{
  box-shadow: inset 0 0 20px var(--bg-main);
  transition: all 0.3s ease;
}

/* Aside no fim da pagina */
aside{
  margin-top: 50px;
  text-align: center;
}

#sobre-mim{
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
  background-color: var(--bg-card);
  border: 3px solid var(--border-soft);
  padding: 15px;
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
}

.xp{
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;
  justify-content: space-between;
  gap: 20px;
}

.content-experiencia{
  flex-wrap: wrap;
  display: flex;
  border: 3px solid var(--border-soft);
  padding: 15px;
  width: 400px;
  box-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;
  margin: 10px auto;
  text-align: center;
}

.experiencia{
  display: flex;
  width: 100%;
  justify-content: center;
}

.experiencia h3{
  margin: auto 10px;
  font-size: 25px;
  color: var(--primary);
  text-shadow: var(--glow) 0px 0px 10px, var(--glow) 0px 0px 20px;

}

  
.experiencia img{
  width: 40px;
  margin: auto 10px;
}
  
.xp-block{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.xp-block img{
  width: 70px;
  margin: auto 10px;
}

.icon-xp img{
  width: 130px;
  height: auto;
  margin: auto;
}

/* Footer */
footer{
  text-align: center;
  margin: 50px auto 20px auto;
  color: var(--text-muted);
  font-size: 18px;
}

footer button{
  background-color: var(--primary);
  color: var(--bg-main);
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: -10px;
  border-radius: 5px;
}

footer button:hover{
  position: relative;
  box-shadow: inset 0 0 20px var(--bg-main);
  transition: all 0.3s ease;
  top: -5px;
}

.content-icon{
  margin-top: 2px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-icon img{
  width: 80px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.content-icon img:hover{
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px var(--primary));
}



@media (max-width: 768px) {

    nav a{
        margin: 7px 5px 7px 0px;
        font-size: 14px;
        width: 55px;
        text-align: center;
    }

    header img{
        height: 30px;
        margin: auto;
    }
   
    #angle-right{
        margin-right: 1px;
    }

     main{
        margin: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.342);
    }

    main h1{
        margin-bottom: 20px;
    }

    .titulo{
        width: 500px;
        margin-top: 0px;
        margin-left: 2px;
    }
    
    .head-main{
        width: 100%;
    }

    .head-main img{
        display: none;
    }

    .project-card{
        flex-direction: column;
        text-align: center;
        width: 295px;
    }

    .project-card img{
        width: 100%;
    }

    .project-content{
        width: 100%;
    }

    .xp{
        display: block;
    }

    /* Pg projetos */
     .project-card{
        flex-direction: column;
        text-align: center;
        width: 295px;
    }

    .preview img{
        width: 250px;
    }

    .project-card:nth-child(even){
        flex-direction: column;
    }

    .icons{
        width: 260px;
    }

    .text-container{
        width: 250px;

    }

     .xp{
        flex-direction: column;
        align-items: center;
    }

    .content-experiencia{
        width: 90%;
    }

    .icon-xp img{
        width: 90px;
    }

    .content-icon img{
        background-color: white;
        width: 60px;
    }

}



